{
  "semi": false,
  "bracketSpacing": true,
  "printWidth": 105,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "trailingComma": "none",
  "arrowParens": "avoid"
}

