name: Deploy to subscription server

on:
  push:
    branches:
      - release
  release:
    types: [released]

jobs:
  deploy_to_production:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      PLUGIN_SLUG: integration-of-zoho-crm-and-wpforms
      SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      LIGHTSAIL_INSTANCE: ${{ secrets.LIGHTSAIL_INSTANCE }}
      LIGHTSAIL_REGION: ${{ secrets.LIGHTSAIL_REGION }}

    permissions:
      id-token: write # needed for OIDC
      contents: write # needed for release and checkout

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        id: setup-php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.x'
          tools: composer:v2, wp-cli

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Determine if this is a release or push
        id: set-test-action
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "TEST_ACTION=false" >> $GITHUB_ENV
          else
            echo "TEST_ACTION=true" >> $GITHUB_ENV
          fi

      - name: Build
        id: build-plugin
        run: |
          bash .github/build
          if [ -d "${{ github.workspace }}/build/${{ env.PLUGIN_SLUG }}" ]; then
            echo "build_exists=true" >> "${GITHUB_OUTPUT}"
            
            version=$(cat ${{ github.workspace }}/build/${{ env.PLUGIN_SLUG }}/readme.txt |grep -oP 'Stable tag:\s+\K([0-9 .]+)')
            if [ "$TEST_ACTION" == 'true' ]; then
              version="$version-beta"
            fi
            cd "${{ github.workspace }}/build/"
            zip -r "${{ github.workspace }}/build/${{ env.PLUGIN_SLUG }}-$version.zip" "${{ env.PLUGIN_SLUG }}"

            echo "zip-path=${{ github.workspace }}/build/${{ env.PLUGIN_SLUG }}-$version.zip" >> "${GITHUB_OUTPUT}"
          else
            echo "build_exists=false" >> "${GITHUB_OUTPUT}"
          fi

      - name: Get Runner Public IP
        id: ip
        run: echo "ipv4=$(curl -s http://checkip.amazonaws.com)" >> $GITHUB_OUTPUT

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.2.1
        with:
          role-to-assume: ${{ secrets.AWS_ACCESS_ROLE }}
          role-session-name: GitHubActions
          aws-region: ${{env.LIGHTSAIL_REGION}}

      - name: Add IP to Lightsail Firewall
        run: |
          aws lightsail open-instance-public-ports \
            --instance-name ${{ env.LIGHTSAIL_INSTANCE }} \
            --port-info fromPort=22,toPort=22,protocol=tcp,cidrs=${{ steps.ip.outputs.ipv4 }}/32

      - name: Create ssh config
        run: |
          if [[ ! -d ~/.ssh ]]; then
            mkdir ~/.ssh
          fi
          chmod 700 ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/access_key
          echo "Host git-server
            HostName ${{ secrets.SSH_HOST }}
            Port ${{ secrets.SSH_PORT }}
            IdentityFile ~/.ssh/access_key
            User git" > ~/.ssh/config
          ssh-keyscan -p ${{ secrets.SSH_PORT }} -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
          chmod 600 ~/.ssh/access_key
          chmod 600 ~/.ssh/config
          chmod 600 ~/.ssh/known_hosts

      - name: Setup SSH with a passphrase
        env:
          SSH_PASSPHRASE: ${{ secrets.SSH_PASSPHRASE }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          echo "pass: $SSH_PASSPHRASE"
          echo "echo $SSH_PASSPHRASE" > ~/.ssh_askpass && chmod +x ~/.ssh_askpass
          echo "$SSH_PRIVATE_KEY" | tr -d '\r' | DISPLAY=None SSH_ASKPASS=~/.ssh_askpass ssh-add - >/dev/null

      - name: Release
        if: steps.build-plugin.outputs.build_exists == 'true' && env.TEST_ACTION == 'false' && env.PLUGIN_SLUG != ''
        run: |
          cd ${{ github.workspace }}/build/${{ env.PLUGIN_SLUG }}
          ls -la
          git config --global user.email "developer+bot@bitcode.pro"
          git config --global user.name "Deploy Bot"
          git init
          git remote add prod ssh://git-server:/home/git/formsintegrations/products/${{ env.PLUGIN_SLUG }}.git
          git add .
          git commit -m "releasing ${{ env.PLUGIN_SLUG }}"
          git push -f prod HEAD:main

      - name: Upload release asset
        if: steps.build-plugin.outputs.build_exists == 'true' && steps.build-plugin.outputs.zip-path != ''
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ${{ steps.build-plugin.outputs['zip-path'] }}

      - name: Remove IP from Lightsail Firewall
        run: |
          aws lightsail close-instance-public-ports \
            --instance-name ${{env.LIGHTSAIL_INSTANCE }} \
            --port-info fromPort=22,toPort=22,protocol=tcp,cidrs=${{ steps.ip.outputs.ipv4 }}/32
        if: always()

